html,
body {
	padding: 12px;
}

body {
	background-color: #f2f2f2;
	font-family: "Lato", sans-serif;
}
h2 {
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 0.5px;
	font-size: 1.3rem;
	line-height: 16px;

	margin-top: 14px;
	margin-bottom: 0;
}

header {
	background-color: #fbfffe;
	padding-top: 24px;
	width: 40rem;
	max-width: 600px;
	margin: -16px auto;
	position: static;
}

span {
	font-size: 0.75rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #b2b2b2;
}

main {
	position: relative;
	/* sobrepõe a imagem sobre o header */
	margin: -6px auto;
	max-width: 600px;
	background-color: white;
}
.main_news {
	width: fit-content;
	margin: 0 36px 0 36px;
	justify-items: center;
}
.main_news img {
	width: 33rem;
}

.sub_news {
	display: flex;
	flex-direction: row;
	gap: 10px;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 16px;
	margin-top: 20px;
}

.sub_news img {
	width: 100%;
	height: 190px;
}

.main_news .baseline {
	margin-top: 4px;
	width: 50%;
	height: 4px;
	background: linear-gradient(to right, #e02d5e, #6a5ba3);
}

#post_one {
	margin-top: 4px;
	width: 50%;
	height: 4px;
	background: linear-gradient(to right, #76c4cf, #6760a6);
}

#post_two {
	margin-top: 4px;
	width: 50%;
	height: 4px;
	background: linear-gradient(to right, #74c7cd, #3ab38a);
}

footer {
	width: 100%;
	max-width: 600px;
	display: flex;
	flex-direction: column;
	justify-items: center;
	margin: 0 auto;
}

.newpost {
	max-width: 260px;
	padding-bottom: 16px;
}

h5 {
	padding-right: 12px;
	margin-top: 4px;
	margin-bottom: 12px;
}

.copyright p {
	margin-top: 12px;
	text-align: center;
	font-size: 0.75rem;
	line-height: 4px;
}

.copyright {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding: 10px;
}

@media (max-width: 650px) {
	html,
	body {
		margin: 0;
		padding: 0;
	}

	main {
		justify-content: center;
	}
	.main_news {
		margin: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	h2 {
		margin-left: -20px;
		margin-bottom: 6px;
	}
	.main_news h5 {
		margin: 0 1.5rem 1rem 1.5rem;
		padding-right: 16px;
		padding-left: 12px;
	}

	.main_news span {
		padding-left: 12px;
		width: 50%;
		margin-left: -240px;
	}

	.main_news .baseline {
		width: 50%;
		margin-left: -230px;
	}

	.copyright p {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 460px) {
	html,
	body {
		width: 100%;
		overflow-x: hidden;
	}
	header img {
		width: 100vw;
		height: 8rem;
	}
	header {
		max-width: fit-content;
	}
	main {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.main_news img {
		width: 100vw;
		height: 12rem;
	}

	.main_news h2 {
		line-height: 20px;
		padding-left: 24px;
		margin-left: 12px;
		padding-right: 24px;
		font-size: 1.2rem;
		text-align: left;
	}
	h5 {
		text-align: left;
	}
	.main_news span {
		width: fit-content;
	}

	.main_news .baseline {
		width: 50%;
		margin-left: -230px;
	}

	span {
		font-size: 0.5rem;
	}
	footer {
		overflow: hidden;
	}

	.copyright {
		margin-left: -12px;
	}

	footer img {
		margin-left: -50px;
		width: 130%;
		height: 110%;
	}
}

@media (max-width: 360px) {
	.sub_news img {
		width: auto;
		height: auto;
	}
}

@media (max-width: 461px) {
	html {
		width: max-content;
	}
}
